## Input/Output settings ##

# full path to output directory (required)
out_dir=/path/to/out

## cluster settings ##

# number of threads (CPU cores) (default: 8)
n_thread=8

## aligner and SV caller settings ##

# whether to enable SV calling using the combination of NGMLR and sniffles (1 for enable, 0 for disable, required)
enable_ngmlr_sniffles=1

# whether to enable SV calling using the combination of Minimap2 and sniffles (1 for enable, 0 for disable, required)
enable_minimap2_sniffles=1

## paths to software tools and fasta files ##


# full path to samtools binary file (required)
samtools=/path/to/samtools

# full path to sniffles binary file (required if you wish to use sniffles as an SV caller)
sniffles=/path/to/sniffles

# full path to reference genome fasta file
ref_fasta=/path/to/ref.fa


## Advanced caller settings ##
# minimum supporting reads for sniffles (default: 2)
sniffles_min_support=2 

# maximum distance to group SV together by sniffles (default: 600)
sniffles_max_distance=600 
