#### NextSV configurations ####

## General settings ##
input_file_list=example.fastq.fofn # file contains names of input fastq or fasta files
out_dir=/home/user/data/pacbio/test # output directory
n_thread=12 # number of threads

## PBHoney settings ##
ref_blasr=/home/user/db/hs37d5/blasr/hs37d5.fa # reference genome fasta file name with full path
ref_sa_blasr=/home/user/db/hs37d5/blasr/hs37d5.fa.sa # precomputed suffix array of reference genome fasta file (for information of generating the suffix array, please refer to https://github.com/PacificBiosciences/blasr/blob/master/README.MANUAL.md)

enable_PBHoney_Spots=1  # SV calling using PBHoney-Spots (1 for enable, 0 for disable)
threshold=3             # minimum spot threshold for PBHoney-Spots 
minErrReads=2           # minimal number of reads with indel for PBHoney-Spots
consensus=None          # method for polishing consensus for PBHoney-Spots(pbdagcon or None)

enable_PBHoney_Tails=1  # SV calling using PBHoney-Tails (1 for enable, 0 for disable)
minBreads=2             # minimum read support for PBHoney-Tails 
minZMWs=2               # minimum number of unique ZMWs for PBHoney-Tails
buffer=600              # buffer around breaks reads must fall within to become clustered by PBHoney-Tails

## Sniffles settings #
enable_bwa_Sniffles=0   # alignment using bwa and SV calling using Sniffles (1 for enable, 0 for disable)
enable_ngmlr_Sniffles=1 # alignment using ngmlr and Sniffles (1 for enable, 0 for disable)
min_support=2           # minimum read support for Sniffles
max_distance=600        # maximum distance to group SV together

ref_bwa=/home/user/db/hs37d5/hs37d5.fa # reference genome fasta file name with full path (should be pre-indexed by bwa)

