#### NextSV configurations ####

## Input/Output settings ##
sample_name=test_data
input_file_list=/home/user/projects/nextsv_paper/test_data.fofn
out_dir=/home/user/test_data_test_results

## cluster settings ##
n_thread=8
mode=sge
job_submission_command=[qsub -V -cwd -S /bin/bash -l h_vmem=4G -pe smp 12]

## PBHoney settings ##

enable_PBHoney_Spots=1  
spots_threshold=2      
spots_minErrReads=2   
spots_consensus=None 

enable_PBHoney_Tails=1 
tails_minBreads=2     
tails_minZMWs=2      
tails_buffer=600    

## Sniffles settings #

enable_bwa_Sniffles=1  
enable_ngmlr_Sniffles=1 
sniffles_min_support=2 
sniffles_max_distance=600 

## paths to software tools ##

bwa=/home/user/bin/bwa  # required
samtools=/home/user/bin/samtools # required
ngmlr=   # not required, default: path_to_nextsv/bin/ngmlr
sniffles= # not required, default: installed by nextsv

## paths to reference files ##

ref_fasta=/share/datasets/Ref_Genome/fasta/hg19/hg19.fa 
ref_blasr=/share/datasets/Ref_Genome/fasta/hg19/blasr/hg19.fa
ref_sa_blasr=/share/datasets/Ref_Genome/fasta/hg19/blasr/hg19.fa.sa

